body {
  padding-top: 5rem;
}

.response-header {
  &.list-group-item {
    background: #33A5FF;
  }
  color: white;
  cursor: pointer;
}

.response-details {
  &.list-group-item {
    border: 1px solid #33A5FF;
  }
}

.response-details--label {
  color: #0275d8;
  text-decoration: underline;
  font-weight: 500;
}

.delete-all-button {
  width: 150px;
}

.select-proxy-button {
  width: 150px;
}

.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.active-mock {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
