body {
  padding-top: 5rem;
}

.Response-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flashing {
  outline: 1px solid orange;
  animation: flashing 2s linear 4s;
}

@keyframes flashing {
  50% { opacity: 0; }
}
